.button__edit {
  width: 200px;
  height: 25px;
  border-radius: 2px;
}

.created__details {
 border-top: solid lightgrey 1px;
 border-bottom: solid lightgrey 1px;
}

.logo__details {
  height: 35px;
  vertical-align: middle;
  margin-left: 50px;
  margin-bottom: 8px;
}

.leftSide {
  float: left;
  width: 200px;
  height: 550px;
  margin-top: 25px;
  margin-left: 30px;
}

.main__details {
  width: 600px;
  float: right;
  opacity: 0.5;
  background-color: skyblue;
  margin-top: 25px;
  margin-left: 10px;
  padding: 2px;
}

.nav__details {
  background-color: lightgrey;
  height: 55px;
  line-height: 55px:
  margin-left: 30px;
  width: 950px;
}

.nav__Links {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  line-height: 61px;
}

.nav__Right--img {
  height: 30px;
  vertical-align: middle;
  margin-left: 30px;
  border-radius: 4px;
}

.plus {
  display: inline-block;
  vertical-align: middle;
  margin-left: 190px;
  margin-bottom: 20px;
}

.profile__pic {
  height: 200px;
}

.protip {

}

.search__details {
  vertical-align: middle;
  width: 280px;
}

.tiy__img {
  height: 35px;
}

.wrapper {
  width: 70%;
  height: 90%;
}
